/* components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8rem; /* El 8rem a los lados alinea esto con tu galería */
  background-color: transparent;
}

.navbar-logo h2 {
  font-size: 1.8rem;
  font-weight: 800;
  margin: 0;
  letter-spacing: -1px; /* Le da ese toque de marca moderna */
}

.navbar-links {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: #666;
  font-size: 0.95rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.navbar-links a:hover {
  color: #000;
}

.navbar-search {
  cursor: pointer;
  font-size: 1.2rem;
}