#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Para el Hero - Dividir en dos columnas */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 8rem;
  gap: 4rem;
}

.hero-texto {
  flex: 1;
}

.hero-imagen {
  flex: 1;
}

.hero-imagen img {
  width: 100%;
  border-radius: 12px; /* Para darle esos bordes redondeados a la foto */
  object-fit: cover;
}

.btn-galeria {
  background-color: black;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}